*, p, ul, li, h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #111;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
    padding-bottom: 0;
    background-color: #ededed;
    display: block;
    width:  100%;
    background: #0063d1;
}

img {
    width:  100%;
    /* height:  100%; */
}

header .center-header {
    padding:  15px 0;
}

header .box-search select {
    height:  38px;
    float:  left;
    width:  30%;
    border:  none;
    background:  #ededed;
    padding:  6px 12px;
}

header .box-search input[type="text"] {
    float:  left;
    width:  50%;
    height:  38px;
    border:  none;
    padding:  6px 12px;
}

header .box-search button {
    border:  none;
    background: #2196F3;
    float:  left;
    width: 20%;
    padding:  6px 12px;
    height:  38px;
    color: #fff;
}

header .box-search {
    padding: 15px 0;
    display:  block;
}

header .menu-top {margin-top:  10px;padding-left: 20px;}

header .menu-top .main-menu ul li {
    display: inline-block;
    padding: 15px 20px;
    float: left;
    position:  relative;
}

header .menu-top .main-menu ul li a {
    text-transform: uppercase;
}

header .menu-top .main-menu ul li.active-menu {
    background: #0063d1;
}

header .menu-top .main-menu ul li:hover {
    background: #0063d1;
}

header .sub-menu {
    display:  none;
    position:  absolute;
    z-index:  1;
    top: 50px;
    left:  0;
    border-top: 1px solid #0063d1;
    min-width: 150px;
    transition: all .3s;
}

header .menu-top .main-menu ul li:hover .sub-menu {
    display:  inline-block;
}

header ul>li>ul>li {
    width: 100%;
    background: #fff;
}

header ul>li>ul>li a {
    color:  #000;
}

header .main-menu {
    position:  relative;
    display: inline-block;
}

header a {
    color:  #fff;
}

header .box-search input[type="text"]:focus, select:focus, button:focus {
    outline: 0;
}

.menu-mobile {
    display: none;
    color:  #fff;
    text-transform:  uppercase;
    padding: 10px 0;
    font-size:  16px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    
    header .menu-top .main-menu ul li {
        padding: 15px 20px;
    }
}

.col-xs-12.col-sm-12.col-md-12.col-lg-6.mobile-style.push-desktop {
    position:  relative;
    right:  25%;
}

.col-6.col-sm-6.col-md-6.col-lg-3.mobile-style.push-desktop {
    position:  relative;
    left: 50%;
}

.content .owl-area {
    margin: 20px 0;
    position:  relative;
}

.content p.title-area {
    text-align:  center;
    text-transform:  uppercase;
    margin-bottom:  20px;
    font-size:  18px;
    font-weight:  600;
}

.owl-area .sub-info-top i {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #f4f4ff;
    line-height: 58px;
    text-align:  center;
    font-size:  24px;
}

.content .sub-info-top {
    text-align:  center;
    position:  absolute;
    top: 5%;
    left: 5%;
    display: flex;
    /* width: 100%; */
    /* background:  rgba(255,255,255,.95); */
}

.content h3.sub-title {
    color:  #fff;
    padding: 15px 5px;
}

.content .sub-info-bot button {
    padding:  10px;
    height: 55px;
    display: block;
    /* width: 100%; */
    background: #d0021b;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font-size: 17px;
    line-height: 20px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.23);
    transition: all .8s;
}

.content .sub-info-bot span {
    text-transform: initial;
    display: block;
    font-size: 13px;
}

.content .sub-info-bot button.buy-now {
    background:  #353535;
    margin-left:  10px;
}

.content .sub-info-bot {
    display:  flex;
    position:  absolute;
    bottom: 5%;
    right:  5%;
}

.content p.title-area span {
    font-size: 30px;
    color: #0063d1;
}

.content p.title-area:after {
    background: rgba(133, 133, 133, 0.5);
    content: "";
    display: block;
    height: 1px;
    margin: 25px auto 15px;
    width: 270px;
}

.content p.title-area:before {
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    margin: 0 0 0 -35px;
    position: absolute;
    width: 70px;
    top: 66px;
    background: #0063d1;
}

.content .filter-area button {
    background:  none;
    border:  none;
    text-align:  center;
    border: 2px solid #0063d1;
    border-radius:  50px;
    padding: 10px;
    width: 110px;
    margin: 0 5px 10px;
    transition: all .8s;
}

.content .filters.button-group.js-radio-button-group {
    text-align:  center;
}

@media (min-width: 992px){
    .col-lg-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

.content .detail-post {
    display: inline-block;
    position: absolute;
    top: 10px;
    left:  10px;
    text-align: center;
    background: #1f9ad6;
    visibility: hidden;
    opacity: 0;
    transition: all .8s;
    height: calc(100% - 20px); */
    /* height: -webkit-calc(100% - 20px); */
    height: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
}

.content .detail-temp {
    position:  relative;
    display:  block;
}

.content .detail-post input {
    background: #0063d1;
    border:  none;
    color:  #fff;
    padding:  5px 10px;
    border-radius: 10px;
    margin:  5px;
}

.content .detail-post input.try-detail {
    background: #fa6839;
}

.content .detail-temp:hover .detail-post {
    visibility:  visible;
    opacity:  1;
}

.detail-info {position:  absolute;top: 30%;width:  100%;line-height:  30px;}

.content span.info-date {
    display:  block;
}

.content .detail-info h4, span {
    color: #fff;
}

.content .detail-info h4 {
    font-size:  24px;
    margin-bottom:  10px;
}

.hot-temp-img>a>img {
    max-width: 86%;
}

.hot-temp-img {
    text-align:  center;
}

.hot-temp-info {
    display: inline-block;
    line-height: 20px;
}

.price span.sells {
    color:  #0063d1;
    font-size:  18px;
    font-weight: 600;
}

.price span.original {
    color: #000;
    font-weight: 500;
    opacity: .5;
}

.content .hot-temp {
    position:  relative;
    margin: 10px 0 30px;
}

.content .hot-temp .rating h4 {
    display:  inline-block;
    margin-right:  10px;
    opacity:  0.5;
}

.content .hot-temp .headline {
    margin:  10px 0;
    text-transform:  uppercase;
}

.content .hot-temp p.description {
    margin-top:  20px;
    line-height: 30px;
    font-size:  16px;
    font-weight:  400;
    opacity: .8;
}

.content .hot-temp-area .buy-now {
    border: 2px solid #fff;
    padding:  5px 20px;
    border-radius:  10px;
    margin-top: 40px;
    text-align:  center;
    display:  inline-block;
    background: #0063d1;
}

.content .hot-temp .hot-temp-img a:before {
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 220%;
    left: 20%;
    opacity: 0;
    position: absolute;
    top: -160%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 100px;
}

.content .hot-temp .hot-temp-img>img:hover::before {
    left: 100%;
    opacity: 0.8;
    top: 100%;
}

.content .hot-temp .buy-now a {
    color:  #fff;
    font-size: 16px;
    text-decoration:  none;
}

.content .hot-temp i.fa.fa-shopping-basket {
    margin-right: 5px;
}

.content .hot-temp-area .buy-now:hover {
    background: #656565 none repeat scroll 0 0;
    color: #fff;
}

.content .hot-temp-area {
    position:  relative;
    margin: 20px 0;
}

.content .filter-area button:hover {
    background: #0063d1;
    color:  #fff;
}

.content .hot-temp-area {
    position:  relative;
    margin: 20px 0;
}

.content .filter-area button:hover {
    background: #0063d1;
    color:  #fff;
}

.content .sub-info-bot button:hover {background: #656565 none repeat scroll 0 0;}

.content .load-more {
    display: table;
    margin:  0 auto;
    text-align:  center;
    background:  #fa6839;
    padding:  10px 20px;
    border-radius:  25px;
    text-transform:  uppercase;
}

.content .load-more a {
    color:  #fff;
    text-decoration: none; */
    padding:;
}

.content .load-more:hover {
    background: #656565 none repeat scroll 0 0;
}

.content .team-area .team-member {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 20px;
    transition: .3s;
    padding-right: 22px;
    padding-left: 22px;
}

.content .team-area p.name {
    font-size: 18px;
    font-weight: 600;
    margin-top: 33px;
    margin-bottom:  10px;
}

.content .team-area p.owners {
    color: rgb(95, 94, 94);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 15px;
}

.content .team-area .contact-info a i {
    background: #0063d1;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: #fff;
    line-height: 35px;
    text-align: center;
    margin:  0 5px;
}

.content .team-area .contact-info a i:hover {
    background: #656565 none repeat scroll 0 0;
}

.content .team-area .team-member:hover {
    box-shadow: 0px 3px 20px #0063d1;
}

.content-footer {
  position: relative;
  border-bottom: 2px solid #09c;
}

footer {
  background: #282828;
  padding-top: 20px;
}

footer .title-widget h6 {
    color: #fff;
    border-bottom: 3px solid #000;
    margin-bottom: 0;
}

footer .title-widget i {
    background: #0063d1;
    padding: 10px;
    margin-bottom: -3px;
    border-bottom: #0063d1;
}

footer .title-widget {
    position: relative;
}

footer .title-widget span {
    border-bottom: 3px solid #0063d1;
    position: absolute;
    bottom: 0px;
    display: block;
    left: 30px;
    padding-bottom: 5px;
    padding-left: 10px;
    text-transform:  uppercase;
    font-size: 18px;
}

footer .content-widget {
  margin: 15px 0;
  line-height: 24px;
}

footer .widget-badget img {
  width: 22px;
  margin-right: 5px;
}

footer .content-widget a.widget-badget {
  border: 1px solid #ededed;
  /*! padding: 5px; */
}

footer .content-widget strong {
  margin-right: 10px;
  color: #bbb;
}

footer .content-widget p {
  color: #ccc;
}

footer .content-widget input[type="text"] {
  background: none;
  border: 1px solid #ededed;
  color: #fff;
  padding: 5px;
  min-width: 70%;
  border-right: none;
  margin-bottom: 10px;
}

footer .content-widget input[type="submit"] {
  background: 0;
  border: 1px solid #ededed;
  padding: 5px;
  color: #fff;
  min-width: 30%;
  position: absolute;
  text-transform: uppercase;
}

footer .content-widget a {
  color: #ccc;
  text-decoration: none;
  margin-left: 15px;
}

footer .bot-footer {
  text-align: center;
  line-height: 30px;
}

footer .content-widget a:before {
    content: "\f101";
    font-size: 13px;
    color: #0063d1;
    position: absolute;
    left: 15px;
    font-family: FontAwesome;
}

footer .content-widget li p span i {
    color: #0063d1;
    margin-right: 5px;
    font-size: 18px;
    width: 30px;
    height:  40px;
}

footer .content-widget li p span {
    margin-right: 10px;
}

footer .content-widget a:hover {
    color: #fff;
}

.content .team-area {
    background:  #ededed;
    padding:  10px;
}

.content .filter-area {
    background:  #ededed;
    padding:  10px 0;
}

.content .detail-temp:hover .detail-post input:hover {
    background: #656565 none repeat scroll 0 0;
}